// variables
$nav-background: rgb(48, 34, 22, 0.7);
$white-color: #fff;
$transition-5: all 0.5s ease-in-out;
$transition-3: all 0.3s ease-in-out;

// Start Social Media color
$linkedin-color: #1DA1F2;
$twitter-color: #0A66C2;
$instagram-color: #E4405F;
$google-color: #db4a39;
// End Social Media color

// Start product's variables colors
$main-cappuccino-color: #e0dad7;
$hover-cappuccino-color: #bcada3;
// End product's variables colors